$white: #ffffff;
$black: #000000;
$blue-6: #2f54eb;
$blue-4: #85a5ff;
$gray-12: #141414;
$gray-11: #1f1f1f;
$gray-10: #262626;
$gray-9: #434343;
$gray-8: #595959;

$twitch: #bf94ff;
$youtube: #ff0000;
$da: #f57d07;

$shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;